<table>

  <% @services.each do |service| %>
    <tr>
      <td><%=service.service %></td>
      <td><%=service.date %></td>
      <td><%=service.mileage %></td>
      <td><%= link_to 'Delete', garage_vehicle_service_path,
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
<% end %>
