<h1> Service Records </h1>

<div class ="service">
<table>
  <tr>
    <th>Service</th>
    <th>Date</th>
    <th>Mileage</th>
  </tr>

  <% @services.all.each do |service| %>

  <tr>

      <td><%=service.service %></td>

      <td><%=service.date %></td>

      <td><%=service.mileage %></td>
      <br>


    </tr>
  </div>

<% end %>

  </table>

<%= link_to 'Home', root_path %>
