<h1>Welcome to the GarageApp</h1>

<h2> To begin please click the Create link below</h2>
<h2> Otherwise click the View link if you are returning</h2>

<div class= "create">
<%= link_to 'Create Garage', new_garage_path %><br>
<%= link_to 'View Garages', garages_path %>
</div>
