body {
  background-image: image-url('Garage.jpg');
  background-size: cover;

}

h1, h2, ul, label {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.create {
  text-align: center;
  margin-top: 150px;
  text-decoration: none;
  font-size: 50px;
}

.name {
  margin: auto;
}

a {
  color: white;
}

.error_explanation {
  display: block;
  margin: 0 auto;
}

.field_with_errors {
  display: block;
  margin: 0 auto;
}

.new_garage {
  display: block;
  margin: auto;
}
form {
  text-align: center;
}

li {
  text-align: center;
  margin-right: 100px;
}

.links{
  text-align: center;
}
.index {
  margin-top: 200px;
}

.table{
  margin-top: 200px;
}

.new {
  margin-top: 50px;
  text-align: center;
  a:link { color: white;}
}
.service {
margin-top: 100px;
color: white;
text-align: center;
}
